* {
    box-sizing: border-box;
    line-height: 1.4;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: antiquewhite;
    background-color: blueviolet;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 60%;
    display: flex;
    background-color: #1A1B21;
    padding: 1.5em;
}

.gradient-border {
    border: 2px solid;
    border-image: linear-gradient(45deg, rgb(179, 24, 24), rgb(238, 100, 8)) 1;
}

.card-content {
    width: 61%;
}

.images {
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    grid-gap: 1em;
    margin-right: 3em;
    padding-right: 2.8em;
    padding-left: 1em;
    border-right: 1px solid #4a4e69;
}

.images .logo {
    width: 32.5px;
    height: 32.5px;
    border-radius: 50%;
    margin: 0.2em;
}

.background {
    background-color: antiquewhite;
}

.padding {
    padding: 0.25em;
}


span {
    position: relative;
}

span::before {
    position: absolute;
    content: '';
    height: .2em;
    width: 100%;
    bottom: .01em;
    top: 1em;
    left: 1em;
    z-index: 2;
    background: #5093E2; 
}

h1 span:first-child {
    color: goldenrod;
}

h1 span:first-child::before {
    content: none;
}